<section id="categories" class="page-section">
          <div class="container">
              <div class="row page-heading">
                  <div class="col-md-8 col-sm-8">
                      <h3 class="page-title">Product Categories</h3>
                      <p class="page-subtitle">Pick From A Category</p>
                  </div>
              </div>
              <div class="row">
                  <div class="categories-holder">
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery-item">
                          <div class="categoies-thumb">
                              <img src="" alt=""/>
                              <div class="hover">
                                  <a href="#" class="fa fa-plus">Electronics</a>
                
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery-item">
                          <div class="categories-thumb">
                              <img src="" alt=""/>
                              <div class="hover">
                                  <a href="#" class="fa fa-plus">Furniture</a>
                        
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery-item">
                          <div class="categories-thumb">
                              <img src="" alt=""/>
                              <div class="hover">
                                  <a href="#" class="fa fa-plus">Travel</a>
                            
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery-item">
                          <div class="categories-thumb">
                              <img src="" alt=""/>
                              <div class="hover">
                                  <a href="#" class="fa fa-plus">Automotive</a>
                                
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery-item">
                          <div class="categories-thumb">
                              <img src="" alt=""/>
                              <div class="hover">
                                  <a href="#" class="fa fa-plus">Books</a>
                                
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery-item">
                          <div class="categories-thumb">
                              <img src="" alt=""/>
                              <div class="hover">
                                  <a href="#" class="fa fa-plus">Appliances</a>
                                
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery-item">
                          <div class="categories-thumb">
                              <img src="" alt=""/>
                              <div class="hover">
                                  <a href="#" class="fa fa-plus">Something</a>
                               
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 gallery-item">
                          <div class="categories-thumb">
                              <img src="" alt=""/>
                              <div class="hover">
                                  <a href="#" class="fa fa-plus">Someting Else</a>
                               
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>